head
  title Sample Page
  link(rel="stylesheet",type="text/css",href="assets/style/sample.less")
  link(rel="stylesheet",type="text/css",href="assets/style/sample.css")
body
  .wrapper
    h1 HapiJs Boilerplate
    hr
    b This setup is ready for the ff:
    ul
      li Jade (Views)
      li Less (CSS)
      li Bower (JS) 
      li Nodemon
    h2
      // Load the photo via javscript
      script(src="/assets/sample.js") 
      
